@{
  Layout = "_Layout";
}

@using PierresTreats.Models;

<h1>Welcome to Pierre's Sweet and Savory Treats!</h1>

<h4>Treats:</h4>
@if (@Model.Count == 0)
  {
    <h3>No Treats have been added yet!</h3>
  } 
<ul>
  @foreach(Treat Treat in Model)
  {
    <li>@Html.ActionLink($"{Treat.Name}", "Details", "Treats", new { id = Treat.TreatId })</li>
  }
</ul>
<h4>Flavors:</h4>
@if (@Model.Count == 0)
  {
    <h3>No Flavors have been added yet!</h3>
  } 
<ul>
  @foreach(Flavor Flavor in ViewBag.Flavor)
  {
    <li>@Html.ActionLink($"{Flavor.Description}", "Details", "Flavors",new { id = Flavor.FlavorId })</li>
  }
</ul>

<p>@Html.ActionLink("See all Treats", "Index", "Treats")</p>
<p>@Html.ActionLink("See all Flavors", "Index", "Flavors")</p>

<p>@Html.ActionLink("Create an account", "Index", "Account")</p>
<p>@Html.ActionLink("Log in", "Login", "Account")</p>