@{
  Layout = "_Layout";
}

@model PierresTreats.Models.Treat

<h2>Treat Details</h2>
<hr />
<h3>@Html.Label("Treat Name:") @Html.DisplayFor(model => model.Name)</h3>

@if(@Model.JoinEntities.Count == 0)
{
  <p>This Treat has no Flavors.</p>
}
else
{
  <h4>Flavors this Treat comes in: </h4>
  <ul>
    @foreach(var join in Model.JoinEntities)
    {
      <li>@Html.ActionLink($"{@join.Flavor.Description}", "Details", "Flavors", new { id = join.Flavor.FlavorId })</li>
    }
  </ul>
}

<p>@Html.ActionLink("Back To All Treats", "Index")</p>
<p>@Html.ActionLink("Edit Treat", "Edit", new { id = Model.TreatId })</p>
<p>@Html.ActionLink("Delete Treat", "Delete", new { id = Model.TreatId })</p>